<% provide(:title, "Contact us") %>

<h1>Contact Us</h1>
<title><%= yield(:title) %></title>
<hr>
<p>
  Reach Us at : <b>sales@akinfotech.co.in</b><br><br>

  Corporate Address : <b>AK Infotech, A-202 Cosmo Towers, Mira road (East),Thane - 401107 </b>
</p>