<% provide(:title, "Index") %>
<title><%=yield(:title)%></title>
  <br>
  <br>
  <br>
<div class="center jumbotron">
  <h3><b>Our Vision</b></h3></h3><br>
  <p>
To be the most <b>preferred partner</b> to our clients, employees and stakeholders for realizing the full potential from their investments in IT.</p><br>

    <h3><b>Mission Statement</b></h3>
    <p>
Deliver extraordinary results by fostering an entrepreneurial environment for exceptional people and clients to thrive.</p>
</div>
