
<h1>Services</h1>
<title><%=yield(:title)%></title>
<hr>
<p>
	<h4>AK Infotech offers a wide spectrum of services in the field of IT.</h4>
<p>On the basis of our vast and varied experience, with strong focus on Quality work and Service to the clients, we offer various options to suit everyone's budget.</p>
<p> <h5>Our field of expertise are:</h5></p>
<p>
<b>1. OPEX Optimization</b>- Operation Expenditure Optimization Services enable you to reduce your infrastructure costs and improve performance through infrastructure consolidation, classification and policy improvements, and application optimization. With our Cost Optimization Services, you can align your technology and business objectives to deliver optimum results</p>
<p>
<b>2. Resource Management Services</b>- We understand that finding the right IT skills at the right time can make all the difference to you successfully delivering your project and mitigating any risks. As an experienced IT Services company we fully understand the issues that you face when staffing projects and identifying quality technical resources. We constantly strive to take our services to the next level in order to continue to develop long-term partnerships with both candidates and our growing blue chip customer base.</p>
<p>
<b>3. Corporate Training Services</b>- AK Infotech provides corporate trainings for Oracle, SAP, Siebel and any specific customer training requirements.</p>
<p>
<b>4. IT Outsourcing and Solutions Implementations</b>- We take up and run complete IT operations for small to medium scale solution implementations. We can help to reduce your total cost of project ownership, reduce risk, and maintain control by taking up projects or specific tasks totally.</p>	

</p>